



/*estilo imagem brownie*/

#container figure img{
    width: 100%;
  max-width: 588px;
}



/* Estilos para os botões de check */


.check-button {
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    margin-right: 10px;
}

.check-button:hover {
    /* padding/animação do botão*/
    outline: 6px solid #2980b9;
    transition:  0.1s;

  }

/* Estilos para o botão de check quando estiver marcado */
.check-button.checked {
    background: url('./assets/check.svg') center/cover rgb(111, 230, 111);
    width: 20px; /* Largura desejada */
    height: 20px; /* Altura desejada */
}


/* Estilos para a lista */
.checklist {
    list-style: none;
    padding: 0;
}

.checklist li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
   
}
